# Environment Variables
VITE_SUPABASE_URL=https://euybrtjvxvxglymmadie.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1eWJydGp2eHZ4Z2x5bW1hZGllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NDIzNzEsImV4cCI6MjA4ODMxODM3MX0.8ERxi37Asx0RH9-aaUZ5SL5DqTfSbsbwX-T5VPWF60A
